%html
  %head
    %title Camp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to "Camp", root_url, class: "navbar-brand"
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "プロジェクト", projects_url
            %li= link_to "人々", people_url
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "ログアウト", logout_url
    = yield
